%gilroy-light{
    font-family: 'Gilroy';
    font-weight: 300;
}
%gilroy-regular{
    font-family: 'Gilroy';
    font-weight: 400;
}
%gilroy-medium{
    font-family: 'Gilroy';
    font-weight: 500;
}
%gilroy-semibold{
    font-family: 'Gilroy';
    font-weight: 600;
}
%gilroy-bold{
    font-family: 'Gilroy';
    font-weight: 700;
}

%pfDisplay-regular{
    font-family: 'PlayfairDisplay';
    font-weight: normal;
}